@import url(components/card.css);
@import url(components/header.css);
@import url(components/footer.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --bg-colorHeaderFooter: lightblue;
}
body {
  padding-top: 100px;
  padding-bottom: 110px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h1 {
  text-align: center;
}
.main {
  display: flex;
  flex-flow: row wrap;
}

