*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 110px 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}
h1 {
  text-align: center;
  padding: 5px;
}
.main {
  display: flex;
  flex-flow: row wrap;
}
header {
  background-color: lightblue;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  border-bottom: 1px solid black;
}
.card {
  border: 3px solid black;
  border-radius: 3px;
  max-width: 300px;
  margin: 20px auto;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.question {
  margin: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.answer-button {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 0.9rem;
  border-radius: 5px;
  border: 1px solid;
}
.answer-button:hover {
  cursor: pointer;
}
.flex-container {
  display: flex;
}

.bookmark--icon {
  width: 30px;
  position: absolute;
  top: -10px;
  right: 10px;
  background-color: white;
}
.bookmark--icon:hover {
  cursor: pointer;
}

.navigation {
  border-top: 1px solid black;
  padding: 20px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.navigation a {
  padding: 15px;
}
footer img {
  width: 50px;
}
.active {
  background-color: white;
  border-radius: 10px;
}
