@import url(components/card.css);
@import url(components/header.css);
@import url(components/footer.css);
@import url(components/form.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --bg-colorHeaderFooter: lightblue;
}
body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.container {
  display: grid; /* Die Hauptseite hat ein Grid-Layout: 1 Spalte, 3 Zeilen */
  grid-template-rows: 80px 1fr 100px; /* Die erste Zeile ist 80px hoch, die letzte auch, der Rest geht in die Mitte */
  height: 100vh; /* Der Container, d.h. der Body, ist nur so hoch wie der Viewport */
}

.main {
  margin: 0 auto;
  width: 100%;
  overflow: auto;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: start;
}

@media (min-width: 680px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .grid-container {
    max-width: 1200px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
